html, * {
    box-sizing: border-box;
}

/* https://www.w3schools.com/cssref/css3_pr_box-sizing.asp

The box-sizing property defines how the width and height of an element are calculated: should they include padding and borders, or not.

content-box	Default. The width and height properties (and min/max properties) includes only the content. Border and padding are not included

border-box	The width and height properties (and min/max properties) includes content, padding and border

*/

body, input {
  font: caption
}


input {
    padding: 0.5em;
    border: 1px solid #f32e5b;
}

button, .button, input[type="submit"] {
    background-color: skyblue;
    border: 1px solid black;
    color: white;
    padding: 0.5em;
    transition: all 0.2s;
}

button:hover, .button:hover, input[type="submit"]:hover {
    background-color: #f65e81;
}

button:active, .button:active, input[type="submit"]:active {
    background-color: #f4466e;
}

button.full-length, .button.full-width, input[type="submit"].full-width {
    width: 100%;
    margin: 1em 0;
}